/* Couleur principale */
.primary-color {
  background-color: #4a919e !important;
  color: white !important;
}

/* Boutons plus grands */
.btn-action {
  font-size: 0.9rem; /* taille légèrement plus grande */
  padding: 0.4rem 0.7rem;
}
