<!-- src/app/frontoffice/main/main.component.html -->
<div class="container-fluid vh-100 d-flex flex-column">
  <!-- Header avec navigation intégrée -->
  <header class="bg-primary text-white p-3 shadow-sm">
    <div class="d-flex justify-content-between align-items-center container-fluid">
      <h5 class="mb-0">SafeGuard - Frontoffice</h5>
      <div>
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a
              class="nav-link text-white"
              routerLink="my-cameras-access"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: false }"
            >
              camera-access
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link text-white"
              routerLink="my-centers-access"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: false }"
            >
              control-center-access
            </a>
          </li>
        </ul>
      </div>
    </div>
  </header>

  

  <!-- Contenu des routes enfants -->
  <div class="flex-grow-1 overflow-auto p-4 bg-light">
    <router-outlet></router-outlet>
  </div>

  <!-- Footer -->
  <footer class="bg-white border-top py-2 text-center text-muted small">
    © 2025 SafeGuard Platform
  </footer>
</div>