
<nav class="navbar navbar-expand-lg navbar-dark sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">SafeGuard</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/frontoffice/home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/frontoffice/eventsFront" routerLinkActive="active" >Events</a>
          </li>
            
           <li class="nav-item">
          <a class="nav-link text-primary" routerLink="/frontoffice/camerasFront">Caméras</a>
        </li>
       <li class="nav-item">
          <a class="nav-link text-primary" routerLink="/frontoffice/control-centersFront">
            Control Center
          </a>
        </li> 
        <li class="nav-item">
            <a
              class="nav-link text-white"
              routerLink="/frontoffice/my-cameras-access"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: false }"
            >
              camera-access
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link text-white"
              routerLink="/frontoffice/my-centers-access"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: false }"
            >
              control-center-access
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

